# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_NINE_LEFT

config ZMK_KEYBOARD_NAME
    default "Nine No Screens"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NINE_LEFT || SHIELD_NINE_RIGHT
config ZMK_SPLIT
    default y
endif
